<div class="list-group lista">
    <input type="text" class="list-group-item text-center" placeholder="Pesquise Aqui" (input)="buscarNome($event)">
    <a class="list-group-item list-group-item-action link"  *ngFor="let registro of registros; let i = index" 
     [routerLink]="['/',registro.nome, 'validar', {indice : i}]">Nome: {{registro.nome}}
    <span [ngClass]="{'valid':  registro.status,'invalid':!registro.status}">
       {{registro.status? 'Validado' : 'Não Validado'}}
    </span>
    </a>
</div>