.lista{
    margin-top: 20px;
   
}
.lista a{
    animation: moveLista;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
}
.link{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.valid{
    background-color: rgb(71, 236, 65);
    border-radius: 20rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px
}

.invalid{
   background-color: red;
   border-radius: 20rem;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px
}

@keyframes moveLista {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}